@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

a {
    text-decoration: none !important;
}

input {
    box-sizing: border-box !important;
}

.noScroll {
    overflow: hidden !important;
}

.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

@media (min-width: 576px) {
    .container {
        max-width: 640px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}