body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.noScroll {
    overflow: hidden !important;
}

.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

@media (min-width: 576px) {
    .container {
        max-width: 640px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}